*{
	margin:0;
	padding:0;
}
body{
	font-size:14px;
	font-family: "微软雅黑"；
}
.clearfix:after{
	clear:both;
	content: "";
	display: block;

}
.common-title{
	border-left: 3px solid #88C5E1;
	line-height:34px;
	font-size:18px;
	padding-left:18px;
	margin-top:40px;
}
